@import url('base.css');
body {
  /* 火狐 */
  -moz-user-select: none;
  /* Safari 和 欧朋 */
  -webkit-user-select: none;
  /* IE10+ and Edge */
  -ms-user-select: none;
  /* Standard syntax 标准语法(谷歌) */
  user-select: none;
  background-color: #e6dac2;
}
.profolio_body {
  padding: 100px 300px 200px 300px;
  position: relative;
}
.profolio_body .menu {
  position: absolute;
  top: 138px;
  cursor: pointer;
}
.profolio_body .nav_black .up {
  padding-top: 50px;
  display: flex;
}
.profolio_body .nav_black .up .left ul li {
  text-align: end;
}
.profolio_body .nav_black .dwon {
  display: flex;
  padding-top: 73px;
}
.profolio_body .nav_black .dwon .left .hot {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.profolio_body .nav_black .dwon .right ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.profolio_body .nav_black .foot {
  text-align: end;
}
.profolio_body .nav_black .foot a {
  color: #f2c1ba;
  text-decoration: underline;
}
.profolio_body .nav_black ul li {
  color: #6c5f5e;
}
.profolio_body .nav_black ul li a {
  color: #f2c1ba !important;
  text-decoration: underline;
  text-align: end;
}
.profolio_body .nav_t {
  background-color: #000;
  padding: 100px 60px 60px 100px;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 33;
  display: none;
}
.profolio_body .nav_t .foot {
  position: absolute;
  right: 6%;
  bottom: 10%;
}
.profolio_body header .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profolio_body header .title h4 {
  width: 560px;
  height: 2px;
  background: #000;
}
.profolio_body main .con_item {
  padding-top: 88px;
}
.profolio_body main .con_item:first-child {
  padding-top: unset;
}
.profolio_body main .con_item .img {
  display: flex;
  justify-content: space-evenly;
}
.profolio_body main .con_item .img .i_img {
  position: relative;
}
.profolio_body main .con_item .img .i_img .iconfont {
  color: red;
  font-size: 30px;
  position: absolute;
  right: 18%;
  background: #fff;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  top: 3%;
  display: block;
  text-align: center;
  display: flex;
  align-items: center;
}
.profolio_body main .con_item .img img {
  margin-bottom: 80px;
}
.profolio_body main .con_item .img .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
.profolio_body main .con_item .img .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
.profolio_body footer {
  text-align: end;
  width: 110%;
  text-decoration: underline;
}
